@charset "utf-8";

// @import "../../../node_modules/normalize.css/normalize.css";
@import "./open_sans.css";

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ul, ol {
  margin: 0;
  padding-left: 0px;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.wrapper {
  background: #222;
  color: #fff;
}

.main {
}

.nav {
  position: fixed;
  top: 75px;
  left: 0;
  height: 100vh;
  background: #343B4D;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  width: 15vw;
  min-width: 310px;
  white-space: normal;
  margin: 0;
  padding-bottom: 150px;

  &__h2 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 120%;
//    padding-left: 20px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 17px;
    margin: 0;
  }

  &__h4 {
    color: #B4B8CC;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    /* identical to box height, or 16px */
//    padding-left: 20px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    color: #B4B8CC;
    text-decoration: none;
    transition: background 0.3s ease-in;
    list-style-type: none;
    font-size: 13px;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;

//    padding-left: 40px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    margin: 0;
    &:hover {
      color: #fff;
    }
  }

  &__link_active {
    font-weight: bold;
    color: #fff;
    background: #2F3443;
  }

}

.white_module_bgr{
  overflow:scroll;
  position: fixed;
  top: 75px;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  margin: 0;
  padding-left: 40px;
  padding-bottom: 150px;
}/* just a kostyl' for white background on the module*/